{% include system_config.Theme+"/public/header.html" %}
    <title>{{ system_config.Project_Name }}</title>
    <meta name="description" content="{{ system_config.Project_Description }}">{% if now_page!=page_row and page_row !=1 %}
    <link rel="next" href="/index/p/{{ now_page + 1 }}{% if static %}.html{% endif %}">{% endif %}
    {% include "include/head.html" %}
</head>
<body>
<article class="container">
    <ul class="menu">
    {% include system_config.Theme+"/public/nav.html" %}
    </ul>
    <article class="main page">
        <header class="header site">
            <h1 class="title">{{ system_config.Project_Name }}</h1>
            <h2 class="subtitle">{{ system_config.Project_Description }}</h2>
    </header>
    <ul class="article-list">
    {% for page_info in page_list %}
    <li class="article">
        <a class="title" href="/{{ page_info.name }}{% if static %}.html{% endif %}">{{ page_info.title }}</a>
        <section class="preview">{{ page_info.excerpt }}</section>
        <section class="info">
            <span class="date">{{ page_info.time }}</span>
        </section>
    </li>
    {% endfor %}
    </ul>
    <section class="page-nav">
        {% if now_page!=1 %}<a class="prev" href="/index/p/{{ now_page - 1 }}{% if static %}.html{% endif %}">Prev</a>{% endif %}
        <span class="nav">{{ now_page }} / {{ page_row }}</span>
        {% if now_page!=page_row and page_row !=1 %}<a class="next" href="/index/p/{{ now_page + 1 }}{% if static %}.html{% endif %}">Next</a>{% endif %}
        </section>
    </article>
</article>
{% include system_config.Theme+"/public/footer.html" %}
